@import "tailwindcss";

:root {
  --color-background: #899B75;   /* Açık zeytin yeşili */
  --color-foreground: #F7F6F0;   /* Beyaz */
  --color-blackText: #2B2B2B;      /* Canlı yeşil (butonlar için) */
  --color-whiteText: #868686;       /* Açık gri (border veya arka planlar için) */
  --color-primaryButton: #70BB1B;      /* Canlı yeşil (butonlar için) */
  --color-white: #fff;       /* Header için koyu yeşil */
  --color-card: #E1E5CB;
  --font-inter: Inter;
  --font-playfair: Playfair Display;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), serif;
}